body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0rem;
}

button {
    border: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: auto;
    background-image: url(./images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
}

.head-elements {
    display: flex;
    margin-left: 2rem;

}

#logo {
    margin-top: 1.5rem;
    margin-left: 2rem;

}

#btn-header {
    margin-bottom: 2rem;
    margin-left: 50rem;
    width: 9.375rem;
    height: 2.5rem;
    background-color: #ffff;
    color: #AAAAAA;
    border-radius: 3.125rem;
}

#btn-header:hover {
    width: 10.5rem;
}

.header-writeup {
    margin-top: 2rem;
}

.header-writeup h1 {
    font-size: 2rem;
    font-family: 'poppins';
    font-weight: 600;
    text-align: left;
    width: 23.75rem;
    color: hsl(192, 100%, 9%);
}

#illustration {
    width: 40rem;
    height: 30rem;
    margin-left: 10rem;
}

#btn-getstart,
#btn-comity {
    width: 18.75rem;
    height: 3.0rem;
    color: #ffff;
    background-color: hsl(322, 100%, 66%);
    border-radius: 3.75rem;
}

#btn-getstart:hover,
#btn-comity:hover {
    background-color: hsl(322, 100%, 81%);
}

.content {
    margin-top: 5rem;
}

.grow-together,
.flow-conversation,
.users {
    width: 90%;
    height: auto;
    display: flex;
    margin-left: 4rem;
    border: 1px solid #e7e3e3;
    box-shadow: 0 0 .3125rem .0625rem #AAAAAA;
    border-radius: 1rem;
    margin-top: 2rem;
}

.grow-together img,
.users img {
    width: 20rem;
    height: 20rem;
    margin-left: 20rem;
}

.flow-conversation img {
    width: 20rem;
    height: 20rem;
}

.users-writeup,
.grow-writeup {
    text-align: center;
    margin-top: 5rem;
    margin-left: 2rem;
}

.flow-writeup {
    margin-left: 20rem;
    text-align: center;
    margin-top: 5rem;
}

.flow-writeup h2,
.users-writeup h2,
.grow-writeup h2 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2rem;
    color: hsl(192, 100%, 9%);
}

.flow-writeup p,
.users-writeup p,
.grow-writeup p {
    font-family: 'Open sans';
    font-weight: 600;
    color: hsl(208, 11%, 55%);
}

.comity {
    width: 40%;
    height: 25vh;
    box-shadow: 0 0 .3125rem .0625rem #AAAAAA;
    margin-left: 25rem;
    text-align: center;
    margin-top: 5rem;
    position: relative;
    top: 3.125rem;
    background-color: #ffff;
    border-radius: .625rem;
}

.comity h2 {
    color: hsl(192, 100%, 9%);
    padding-top: 2rem;
}

footer {
    background-color: hsl(192, 100%, 9%);
    width: 100%;
    height: auto;
}

.footer-items {
    display: flex;
}

footer ul {
    margin-top: 6rem;
}

.contact {
    margin-left: 5rem;
}

table {
    border-spacing: 0rem .9375rem;
}

td {
    width: 5rem;
    text-align: center;
}

.location {
    width: 20rem;
    margin-top: 4rem;
    text-align: left;
    color: #AAAAAA;
}

.phone {
    text-align: left;
    color: #AAAAAA;
}

.us,
.us-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10rem;
}

ul a {
    color: #AAAAAA;
}

.us-more a:hover,
.us a:hover {
    text-decoration: underline;
    text-decoration-color: #AAAAAA;
}

.us-more {
    margin-left: 5rem;
}

.socials {
    margin-top: 13rem;
    margin-left: 5rem;
}

.socials button {
    background: transparent;
}

.socials button svg:hover {
    fill: hsl(322, 100%, 66%);
}

#social {
    color: #AAAAAA;
    margin-top: 22rem;
    margin-left: -10rem;
}

@media screen and (max-width:567px) {}